body {
    background-color: #F2F2F2;
    color: #666666;
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 250px;
    padding: 0;
    align-items: center;
    justify-content: center;
}


.todo-app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-app__header {
    font-size: 100px;
    color: #CCCCCC
}

.todo-app__frame {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    width: 562px;
    box-shadow: 0px 2px 4px 0px #00000033;
}

.todo-app__main-controls {
    display: flex;
    height: 60px;
}

.todo-app__select-all {
    flex-grow: 1;
}

.todo-app__new-task-text {
    font-size: 24px;
    font-weight: normal;
    font-style: italic;
    flex-grow: 1;
}

.todo-app__task-list {
    padding: 0;
    margin: 0;
}


.task-item {
    color: #000000;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    box-shadow: 0px -1px 0px 0px #E6E6E6 inset;
}

.task-item__text {
    margin-right: auto;
    justify-self: start;
    align-self: center;
}

.todo-app__actions-bar {
    height: 40px;
    color: #888888;
    font-size: 14px;
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    box-shadow: 0px 1px 0px 0px #E6E6E6 inset;
    align-items: center;
}

