body {
    background-color: #F2F2F2;
    color: #666666;
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}


.todo-app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-app__header {
    font-size: 100px;
    font-weight: 100;
    color: #CCCCCC;
    height: 110px;
}

.todo-app__frame {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    width: 562px;
    box-shadow: 0px 2px 4px 0px #00000033;
}

.todo-app__main-controls {
    display: flex;
    height: 60px;
    box-shadow: 0px -1px 0px 0px #E6E6E6 inset;
}

.todo-app__select-all {
    background-image: url("../images/select-all.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    border: 0px #000 solid;
    background-color: #fff;
    width: 26px;
    height: 13px;
    align-self: center;
    margin: 24px;
}

.task-item__status-replica {
    margin: 9px;
    align-self: center;
    width: 40px;
    height: 40px;
    border: 1px solid #E6E6E6;
    border-radius: 50%;
    background-color: #FFFFFF;
}

input[type="checkbox"]:checked + .task-item__status-replica {
    background-image: url("../images/completed.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    border: 1px solid #5DC2AF;
}

input[type="checkbox"]:focus + .task-item__status-replica {
    border: 1px solid #CCCCCC;
}

input[type="checkbox"] {
    appearance: none;
}

.todo-app__new-task-text {
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;
    font-size: 24px;
    flex-grow: 1;
    border: none;
    box-shadow: 0px -1px 0px 0px #E6E6E6 inset;
    color: #666666;
}

.todo-app__new-task-text::placeholder {
    color: #CCCCCC;
}

.todo-app__task-list {
    padding: 0;
    margin: 0;
}


.task-item {
    color: #000000;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    box-shadow: 0px -1px 0px 0px #E6E6E6 inset;
}

.task-item:hover {
    background: #FAFAFA;
}

.task-item__text {
    margin-right: auto;
    justify-self: start;
    align-self: center;
    font-size: 24px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;
    color: #666666;
}

input[type=button][class="task-item__delete"] {
    border: 0px #000 solid;
    background-color: #fff;
    box-shadow: 0px -1px 0px 0px #E6E6E6 inset;
}

.task-item:hover > .task-item__delete {
    background-image: url("../images/close.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    border: 0px #000 solid;
    background-color: #fff;
    width: 20px;
    height: 20px;
    align-self: center;
    margin: 11px;
    box-shadow: none;
}

.todo-app__actions-bar {
    height: 40px;
    color: #888888;
    font-size: 14px;
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    box-shadow: 0px 1px 0px 0px #E6E6E6 inset;
    align-items: center;
    padding: 0px 12px;
}

.display-mode__text {
    padding: 2px 5px;
    border-radius: 5%;
}

input[type="radio"]:checked + .display-mode__text {
    border: 1px solid #EBDFDF;
}

input[type="radio"]:focus + .display-mode__text {
    border: 2px solid #EBDFDF;
}

input[type="radio"] {
    appearance: none;
}

.actions-bar__clear-completed {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: -0.3499999940395355px;
    text-align: left;
    color: #888888;;
    border: 0px #000 solid;
    background-color: #fff;
}
.todo-app__first-bottom {
    content: "";
    background-color: #FFFFFF;
    width: 98%;
    height: 5px;
    z-index: -1;
    box-shadow: 0px 2px 4px 0px #00000033;

}

.todo-app__second-bottom {
    content: "";
    background-color: #FFFFFF;
    width: 96%;
    height: 5px;
    z-index: -2;
    box-shadow: 0px 2px 4px 0px #00000033;

}
